/*
!.gitignore
!.config/
.config/*
!.config/other/

!.config/aerospace/
!.config/karabiner/
.config/karabiner/*
!.config/karabiner/karabiner.json
!.config/kitty/
!.config/sketchybar/
!.config/tmux/
.config/tmux/plugins/
